<div><h4>Attributes</h4></div>
<div class="attribBlock struct" ng-controller="SFCharGenAttribBlockCtrl">
    <div class="labels">
        <span class="key"></span>
        <div class="stat"><variable-race-bonus></variable-race-bonus>{{variableThemeBonus}}{{variableClassBonus}}</div>
        <div class="score">score</div>
        <div class="mod">modifier</div>
        <div class="upgradeScore">upgraded score</div>
        <div class="upgradeMod">upgraded modifier</div>
    </div>

    <!-- end test -->
    <div class="attrib str">
        <span class="key" ng-show="classes.availableClasses[character.levels[0].selectedClass].keyAbility.indexOf('str') >= 0">&#128273;</span>
        <div class="stat">
            <div class="attribVals" ng-hide="character.race == null ||character.race == '' || character.race == 'Human' && variableRaceBonusAttrib == null" ng-show="character.race == 'Human' && variableRaceBonusAttrib != null || character.race != 'Human' && character.race != null">
                <div class="raise" ng-click="attribIncrease('str')"></div>
                <div class="lower" ng-click="attribDecrease('str')"></div>
            </div>
            STR
        </div>
        <div class="score" ng-model="strScore" ng-invalid="{{strScore().$valid}}" attrib-in-range>{{strScore()}}</div>
        <div class="mod"><span>=</span>{{calcAttribModifier(strScore())}}</div>
        <div class="upgradeScore"><span>+</span></div>
        <div class="upgradeMod"><span>+</span></div>
    </div>
    <div class="attrib dex">
        <span class="key" ng-show="classes.availableClasses[character.levels[0].selectedClass].keyAbility.indexOf('dex') >= 0">&#128273;</span>
        <div class="stat">
            <div class="attribVals" ng-hide="character.race == null ||character.race == '' || character.race == 'Human' && variableRaceBonusAttrib == null" ng-show="character.race == 'Human' && variableRaceBonusAttrib != null || character.race != 'Human' && character.race != null">
                <div class="raise" ng-click="attribIncrease('dex')"></div>
                <div class="lower" ng-click="attribDecrease('dex')"></div>
            </div>
            DEX</div>
        <div class="score" ng-model="dexScore">{{dexScore()}}</div>
        <div class="mod"  ng-bind="calcAttribModifier(dexScore())"><span>=</span>{{calcAttribModifier(dexScore)}}</div>
        <div class="upgradeScore"><span>+</span></div>
        <div class="upgradeMod"><span>+</span></div>
    </div>
    <div class="attrib con">
        <span class="key" ng-show="classes.availableClasses[character.levels[0].selectedClass].keyAbility.indexOf('con') >= 0">&#128273;</span>
        <div class="stat">
            <div class="attribVals" ng-hide="character.race == null ||character.race == '' || character.race == 'Human' && variableRaceBonusAttrib == null" ng-show="character.race == 'Human' && variableRaceBonusAttrib != null || character.race != 'Human' && character.race != null">
                <div class="raise" ng-click="attribIncrease('con')"></div>
                <div class="lower" ng-click="attribDecrease('con')"></div>
            </div>
            CON</div>
        <div class="score" ng-model="conScore">{{conScore()}}</div>
        <div class="mod"><span>=</span>{{calcAttribModifier(conScore())}}</div>
        <div class="upgradeScore"><span>+</span></div>
        <div class="upgradeMod"><span>+</span></div>
    </div>
    <div class="attrib int">
        <span class="key" ng-show="classes.availableClasses[character.levels[0].selectedClass].keyAbility.indexOf('int') >= 0">&#128273;</span>
        <div class="stat">
            <div class="attribVals" ng-hide="character.race == null ||character.race == '' || character.race == 'Human' && variableRaceBonusAttrib == null" ng-show="character.race == 'Human' && variableRaceBonusAttrib != null || character.race != 'Human' && character.race != null">
                <div class="raise" ng-click="attribIncrease('int')"></div>
                <div class="lower" ng-click="attribDecrease('int')"></div>
            </div>
            INT</div>
        <div class="score" ng-model="intScore">{{intScore()}}</div>
        <div class="mod"><span>=</span>{{calcAttribModifier(intScore())}}</div>
        <div class="upgradeScore"><span>+</span></div>
        <div class="upgradeMod"><span>+</span></div>
    </div>
    <div class="attrib wis">
        <span class="key" ng-show="classes.availableClasses[character.levels[0].selectedClass].keyAbility.indexOf('wis') >= 0">&#128273;</span>
        <div class="stat">
            <div class="attribVals" ng-hide="character.race == null ||character.race == '' || character.race == 'Human' && variableRaceBonusAttrib == null" ng-show="character.race == 'Human' && variableRaceBonusAttrib != null || character.race != 'Human' && character.race != null">
                <div class="raise" ng-click="attribIncrease('wis')"></div>
                <div class="lower" ng-click="attribDecrease('wis')"></div>
            </div>
            WIS</div>
        <div class="score" ng-model="wisScore">{{wisScore()}}</div>
        <div class="mod"><span>=</span>{{calcAttribModifier(wisScore())}}</div>
        <div class="upgradeScore"><span>+</span></div>
        <div class="upgradeMod"><span>+</span></div>
    </div>
    <div class="attrib cha">
        <span class="key" ng-show="classes.availableClasses[character.levels[0].selectedClass].keyAbility.indexOf('cha') >= 0">&#128273;</span>
        <div class="stat" >
            <div class="attribVals" ng-hide="character.race == null ||character.race == '' || character.race == 'Human' && variableRaceBonusAttrib == null" ng-show="character.race == 'Human' && variableRaceBonusAttrib != null || character.race != 'Human' && character.race != null">
                <div class="raise" ng-click="attribIncrease('cha')"></div>
                <div class="lower" ng-click="attribDecrease('cha')"></div>
            </div>
            CHA</div>
        <div class="score" ng-model="chaScore">{{chaScore()}}</div>
        <div class="mod" ><span>=</span>{{calcAttribModifier(chaScore())}}</div>
        <div class="upgradeScore"><span>+</span></div>
        <div class="upgradeMod"><span>+</span></div>
    </div>

</div>