<div><h4>Saving Throws</h4></div>
<div class="saveBlock struct" ng-controller="SFCharGenSavingThrowsBlockCtrl">
    <div class="labels">
        <div class="stTitle"></div>
        <div class="stTotal">total</div>
        <div class="stBase">base</div>
        <div class="stAbility">ability</div>
        <div class="stMosc">misc</div>
    </div>
    <div class="data">
        <div class="stTitle">FORTITUDE<br><span class="tinyText">constitution</span></div>
        <div class="stTotal">total</div>
        <div class="stBase">base</div>
        <div class="stAbility">ability</div>
        <div class="stMosc">misc</div>
    </div>
    <div class="data">
        <div class="stTitle">REFLEX<br><span class="tinyText">dexterity</span></div>
        <div class="stTotal">total</div>
        <div class="stBase">base</div>
        <div class="stAbility">ability</div>
        <div class="stMosc">misc</div>
    </div>
    <div class="data">
        <div class="stTitle">WILL<br><span class="tinyText">wisdom</span></div>
        <div class="stTotal">total</div>
        <div class="stBase">base</div>
        <div class="stAbility">ability</div>
        <div class="stMosc">misc</div>
    </div>
</div>