<div id="body">
    <h1>Starfinder Character generation utility</h1>
    <div id="charsheet" >
        <p class="footnote">This Utility uses the character generation flow as laid out in the Starfinder Core Rulebook </p>
        <div class="row"><div><h4>Character name</h4></div><div> <input type="text" id="charName" name="charName" ng-model="character.name" /></div>
        </div>
        <div class="row x3">

            <div>
                <div class="element">
                    <select id="" ng-model="races.selectedRace" ng-change="setBaseAttribVals()">
                        <option value=""></option>
                        <option  ng-repeat="x in races.availableRaces" value="{{x.raceIndex}}">{{x.name}}</option>
                    </select>
                </div>
                <div class="elementTitle">Race</div>
            </div>
            <div>
                <div class="element">
                    <select id="" ng-model="themes.selectedTheme">
                        <option value=""></option>
                        <option  ng-repeat="x in themes.availableThemes" value="{{x}}">{{x}}</option>
                    </select>
                </div>
                <div class="elementTitle">Theme</div>
            </div>
            <div>
                <div class="element">
                    <select id=""  ng-model="classes.selectedClass">
                        <option value=""></option>
                        <option  ng-repeat="x in classes.availableClasses" value="{{x}}">{{x}}</option>
                    </select>

                </div>
                <div class="elementTitle">Class</div>
            </div>
        </div>
        <div class="row x4">
            <div>
                <div class="element">
                    {{races.availableRaces[races.selectedRace].size}}
                </div>
                <div class="elementTitle">Size</div>
            </div>
            <div>
                <div class="element">

                </div>
                <div class="elementTitle">Speed</div>
            </div>
            <div>
                <div class="element">

                    <select id=""  ng-model="character.gender">
                        <option value=""></option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Both">Both</option>
                    </select>
                </div>
                <div class="elementTitle">Gender</div>
            </div>
            <div>
                <div class="element">

                </div>
                <div class="elementTitle">Homeworld</div>
            </div>
        </div>
        <div class="row x3">
            <div>
                <div class="element">
                    <select id="">
                        <option value=""></option>

                    </select>
                </div>
                <div class="elementTitle">Alignment</div>
            </div>
            <div>
                <div class="element">

                </div>
                <div class="elementTitle">Diety</div>
            </div>
            <div>
                <div class="element">

                </div>
                <div class="elementTitle">Player</div>
            </div>

        </div>
        <div class="row x1">
            <div><h4>Description</h4></div>
            <div>
                <div class="element">
                    The {{character.gender}} {{races.availableRaces[races.selectedRace].name}} {{classes.selectedClass}} known as {{character.name}} with a dex of {{races.availableRaces[races.selectedRace].attributeModifiers.dex}}
                </div>
            </div>
        </div>
        <div class="row x2">
            <div>
                <char-gen-attributes-block></char-gen-attributes-block>
                <char-gen-skills-block></char-gen-skills-block>

            </div>
            <div>
                <div><h4>Initiative</h4></div>
            </div>
</div>
