<div><h4>Skills</h4></div>
<div class="skillsBlock">
    <div class="labels">
        <div class="classSkill"></div>
        <div class="untrained"></div>
        <div class="skillName"></div>
        <div class="total">total</div>
        <div class="ranks">ranks</div>
        <div class="classBonus">class bonus</div>
        <div class="abilityMod">ability mod</div>
        <div class="miscMod">misc mod</div>
    </div>
    <div class="skill" ng-repeat="x in skillList">
        <div class="classSkill classSkill{{selectedClass.skillMods[x.name].classSkill}}" ></div>
        <div class="untrained useUntrainedcs{{x.useUntrained}}"></div>
        <div class="untrained armorCheck{{x.armorCheck}}"></div>
        <div class="skillName">{{x.DisplayName}}</div>
        <div class="total">{{calcSkilltotal(x.name)}}</div>
        <div class="ranks" ng-model="character.SkillRanks[x.name]"></div>
        <div class="classBonus">{{selectedClass.skills[x.name]}}</div>
        <div class="abilityMod"><span>=</span>{{getAttribMod(x.baseAttrib)}}</div>
        <div class="miscMod">misc mod</div>
    </div>



</div>